@using Core.Models.Requests
@model ProfessionalExperienceRequest;

<div class="experience-item">
    <div class="row gy-2">
        <div class="col-sm-6 col-md-4">
            <label asp-for="Role" class="col-form-label col-form-label-sm">Cargo:*</label>
            <input asp-for="Role" class="form-control form-control-sm" required />
            <span asp-validation-for="Role"></span>
        </div>

        <div class="col-sm-6 col-md-4">
            <label asp-for="CompanyName" class="col-form-label col-form-label-sm">Empresa:*</label>
            <input asp-for="CompanyName" class="form-control form-control-sm" required />
            <span asp-validation-for="CompanyName"></span>
        </div>
    </div>

    <div class="row gy-2">
        <div class="col-sm-6 col-md-4">
            <label asp-for="InitialDate" class="col-form-label col-form-label-sm">Data Início:*</label>
            <input asp-for="InitialDate" type="date" class="form-control form-control-sm" placeholer="dd/MM/yyyy" autocomplete="off" required />
            <span asp-validation-for="InitialDate"></span>
        </div>

        <div class="col-sm-6 col-md-4">
            <label asp-for="EndDate" class="col-form-label col-form-label-sm">Data Fim:</label>
            <input asp-for="EndDate" type="date" class="form-control form-control-sm" placeholer="dd/MM/yyyy" autocomplete="off" />
            <span asp-validation-for="EndDate"></span>
        </div>
    </div>

    <div class="row gy-2 mb-2">
        <div class="col-sm-12 col-md-12">
            <label asp-for="Description" class="col-form-label col-form-label-sm">Descricao:*</label>
            <textarea asp-for="Description" class="form-control form-control-sm"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
    </div>

    <button type="button" class="remove-experience btn btn-danger bi bi-x-lg mb-2" data-id="@ViewData["id"]">Remover</button>
</div>