@using Core
@inject AuthenticatedUser authenticatedUser;

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <p><b>Curriculos</b></p>
        </div>
    </div>
</div>

<partial name="_Messages" />

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="row mb-3">
                <div class="col-12" style="margin-top: 10px">
                    <a class="btn btn-success" href="~/curriculo/cadastrar">Cadastrar Curriculo</a>
                </div>
            </div>
            <div class="col-12 overflow-auto">
                <table id="listagem" class="table table-striped wrap w-100">
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";

            var datatable = $("#listagem").DataTable({
                order: [2, 'desc'],
                language: {
                    url: "@Url.Content("~/json/datatables-pt-br.json")"
                },
                serverSide: true,
                searchDelay: 1000,
                ajax: {
                    url: "/api/curriculo/obter-todos",
                    type: "GET",
                    data: function (table) {
                        var search = table.search.value;
                        var draw = table.draw;
                        var start = table.start;
                        var length = table.length;

                        return {
                            search,
                            draw,
                            start,
                            length
                        }
                    },
                    dataSrc: function (json) {
                        return json.data;
                    }
                },
                columns: [
                    { data: "name", name: "Name", title: "Nome" },
                    { data: "salaryExpectation", name: "SalaryExpectation", title: "Pretensao" },
                    {
                        data: "editar",
                        name: "Editar",
                        title: "Editar",
                        orderable: false,
                        render: function (data, display, curriculo) {
                            return '<a class="edit bi bi-pencil-square" href="/curriculo/{{CurriculoId}}/editar"></a>'
                                .replace("{{CurriculoId}}", curriculo.id);
                        }
                    },
                    {
                        data: "deletar",
                        name: "Deletar",
                        title: "Deletar",
                        className: "text-end",
                        orderable: false,
                        render: function (data, display, curriculo) {
                            return '<a class="consumir bi bi-trash-fill" data-id="{{CurriculoId}}" href="#"></a>'
                                .replace("{{CurriculoId}}", curriculo.id)
                        }
                    }
                ]
            });

            $(document).on('click', '.deletar-curricolum', function (e) {
                let UrlDelete = $(this).attr("data-url")
                bootbox.confirm({
                    size: 'medium',
                    message: 'Deseja excluir esse curriculo?',
                    callback: function (result) {
                        $.ajax({
                            method: "DELETE",
                            url: UrlDelete,
                        }).always(function (result) {
                            location.reload();
                        })
                    }
                });
            })
        })
    </script>
}