@using Core
@inject AuthenticatedUser authenticatedUser;

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <p><b>Curriculos</b></p>
        </div>
    </div>
</div>

<partial name="_Messages" />

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="row mb-3">
                <div class="col-12" style="margin-top: 10px">
                    <a class="btn btn-success" href="~/curriculo/cadastrar">Cadastrar Curriculo</a>
                </div>
            </div>
            <div class="col-12 overflow-auto">
                <table id="listagem" class="table table-striped wrap w-100">
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_Action"></partial>

@section Scripts {
    <script type="text/javascript">
        (function (curricolum) {
            $(document).ready(function () {
                "use strict";

                var datatable = $("#listagem").DataTable({
                    order: [2, 'desc'],
                    language: {
                        url: "@Url.Content("~/json/datatables-pt-br.json")"
                    },
                    serverSide: true,
                    searchDelay: 1000,
                    ajax: {
                        url: "/api/curriculo/obter-todos-por-usuario",
                        type: "GET",

                    },
                    columns: [
                        { data: "name", name: "Name", title: "Nome" },
                        {
                            data: "salaryExpectation",
                            name: "SalaryExpectation",
                            title: "Pretensao",
                            render: function (data) {
                                return curricolum.formatCurrency(data)
                            }
                        },
                        {
                            data: "editar",
                            name: "Editar",
                            title: "Editar",
                            orderable: false,
                            render: function (data, display, curriculo) {
                                return '<a class="edit bi bi-pencil-square" href="/curriculo/{{CurriculoId}}/editar"></a>'
                                    .replace("{{CurriculoId}}", curriculo.id);
                            }
                        },
                        {
                            data: "deletar",
                            name: "Deletar",
                            title: "Deletar",
                            className: "text-end",
                            orderable: false,
                            render: function (data, display, curriculo) {
                                return '<a class="consumir bi bi-trash-fill deletar-curricolum" data-form-url="/curriculo/{{CurriculoId}}/delete" href="#"></a>'
                                    .replace("{{CurriculoId}}", curriculo.id)
                            }
                        }
                    ]
                });
            })
        }(Curricolum))
    </script>
}