@using System.Globalization
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <p><b>Curriculos</b></p>
        </div>
    </div>
</div>

<partial name="_Messages" />

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 overflow-auto">
                <table id="listagem" class="table table-striped wrap w-100 dataTable">
                    <tfoot>
                        <tr>
                            <th>Pretencao salarial</th>
                            <th>R$ @ViewData["averageAsString"]</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        (function (curricolum) {
            "use strict";
            $(document).ready(function () {
                "use strict";

                var datatable = $("#listagem").DataTable({
                    order: [1, 'desc'],
                    language: {
                        url: "@Url.Content("~/json/datatables-pt-br.json")"
                    },
                    serverSide: true,
                    ajax: {
                        url: "/api/curriculo/obter-todos",
                        type: "GET",

                    },
                    columns: [
                        { data: "name", name: "Name", title: "Nome", orderable: false },
                        {
                            data: "salaryExpectation",
                            name: "SalaryExpectation",
                            title: "Pretensao",
                            orderable: false,
                            render: function (data) {
                                return curricolum.formatCurrency(data);
                            },
                            createdCell: function (td, cellData, rowData, row, col) {
                                var average = "@ViewData["average"]";
                                average = average.replace(',', '.');
                                return curricolum.setColorSalaryExpectation(cellData, td, parseFloat(average).toFixed(2));
                            }
                        }
                    ]
                });
            })
        }(Curricolum))
    </script>
}